<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Orders</title>
</head>
<body>
    <h1>{{ title }}</h1>
        <h2>Orders</h2>

        <section>
        <table>
            <tr>
              <th>Name</th>
              <th>Order Date</th>
              <th>Quantity</th>
            </tr>
            {% for order in all_orders %}
                <tr>
                    <td>
                    <a href="http://127.0.0.1:5000/orders/{{loop.index}}">{{ order.customer_name }}</a>
                    </td>
                    <td>{{ order.order_date }}</td>
                    <td>{{ order.quantity }}</td>
                </tr>
            {% endfor %} 
        </table>       
        </section>

</body>
</html>